.mainImgWrapper {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}
.mainImg {
  width: 100%;
  height: 100%;
}
.finishWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.finishBottomWrapper {
  display: flex;
  flex-direction: column;
}

.resultInfo {
  color: #b9b9b8;
  text-align: center;
  font-weight: 600;
  line-height: 17.58px;
  font-size: 0.938rem;
}

.finishPercent {
  display: inline-block;
  background-color: #303030;
  border-radius: 3.125rem;
  padding: 11px 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28.13px;
  margin: 15px 0 25px 0;
}

.finishDescription {
  color: #d0d0d0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 18.75px;
  width: 100%;
}

.finishBottomActionBtn {
  position: fixed;
  right: 0;
  left: 50%;
  bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 23.875rem;
  width: 100%;
}

.linkResult {
  transform: translateX(-50%);
  width: 100%;
  padding: 0.75rem;
  background-color: #dbb157;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 0.875rem;
  font-weight: 600;
  line-height: 18.75px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.navigateOnTest {
  transform: translateX(-50%);
  width: 100%;
  padding: 0.75rem;
  background-color: #303030;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 0.875rem;
  font-weight: 600;
  line-height: 18.75px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
  z-index: 1000;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.linkResult:hover {
  background-color: #c49c47;
}

.navigateOnTest:hover {
  background-color: #303039;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
