.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.sheetContent {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #1c1c1e;
  border-radius: 16px 16px 0 0;
  padding: 20px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}

.overlay.open .sheetContent {
  transform: translateY(0%);
}

.closeButton {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  margin-bottom: 20px;
  max-width: 137px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 100%;
}

.inviteTextWrapper {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.inviteButton {
  width: 100%;
  max-width: 398px;
  margin-bottom: 20px;
  background-color: #dbb157 !important;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
