.achievementsOverviewContainer {
  border-radius: 12px;
}

.achievementsList {
  margin-top: 0.875rem;
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.achievementItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievementIcon {
  transition: opacity 0.3s ease;
}

.notAchieved {
  opacity: 1;
  filter: grayscale(100%);
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
