.profilePageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  height: 100vh;
}

.achievementsContainer {
  margin-bottom: 20px;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
