.categoryDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
}

.categoryTitle {
  color: #dbb157;
  font-size: 1.313rem;
  font-weight: 600;
  line-height: 28.13px;
  text-align: left;
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.categorySubtitle {
  font-size: 1rem;
  color: #d0d0d0;
  font-size: 16px;
}

.categoryText {
  color: #d0d0d0;
  font-size: 14px;
}

.linkBtn {
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  background-color: #dbb157;
  border-radius: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}
